dahdi-chan.c
dahdi-tone.c
*.dvi
*.ps
*.toc
*.idx
*.log
*.scn
*.tex
.libs/
detect_dtmf
detect_dtmf-detect_dtmf.o
detect_tones
detect_tones-detect_tones.o
ftmod_analog.la
ftmod_analog_la-ftmod_analog.lo
ftmod_analog_la-ftmod_analog.o
ftmod_skel.la
ftmod_skel_la-ftmod_skel.lo
ftmod_skel_la-ftmod_skel.o
ftmod_zt.la
ftmod_zt_la-ftmod_zt.lo
ftmod_zt_la-ftmod_zt.o
libfreetdm.la
libfreetdm_la-fsk.lo
libfreetdm_la-fsk.o
libfreetdm_la-ftdm_backtrace.lo
libfreetdm_la-ftdm_backtrace.o
libfreetdm_la-ftdm_buffer.lo
libfreetdm_la-ftdm_buffer.o
libfreetdm_la-ftdm_call_utils.lo
libfreetdm_la-ftdm_call_utils.o
libfreetdm_la-ftdm_callerid.lo
libfreetdm_la-ftdm_callerid.o
libfreetdm_la-ftdm_config.lo
libfreetdm_la-ftdm_config.o
libfreetdm_la-ftdm_cpu_monitor.lo
libfreetdm_la-ftdm_cpu_monitor.o
libfreetdm_la-ftdm_dso.lo
libfreetdm_la-ftdm_dso.o
libfreetdm_la-ftdm_io.lo
libfreetdm_la-ftdm_io.o
libfreetdm_la-ftdm_queue.lo
libfreetdm_la-ftdm_queue.o
libfreetdm_la-ftdm_sched.lo
libfreetdm_la-ftdm_sched.o
libfreetdm_la-ftdm_state.lo
libfreetdm_la-ftdm_state.o
libfreetdm_la-ftdm_threadmutex.lo
libfreetdm_la-ftdm_threadmutex.o
libfreetdm_la-ftdm_variables.lo
libfreetdm_la-ftdm_variables.o
libfreetdm_la-g711.lo
libfreetdm_la-g711.o
libfreetdm_la-hashtable.lo
libfreetdm_la-hashtable.o
libfreetdm_la-hashtable_itr.lo
libfreetdm_la-hashtable_itr.o
libfreetdm_la-libteletone_detect.lo
libfreetdm_la-libteletone_detect.o
libfreetdm_la-libteletone_generate.lo
libfreetdm_la-libteletone_generate.o
libfreetdm_la-uart.lo
libfreetdm_la-uart.o
testanalog
testanalog-testanalog.o
testapp
testapp-testapp.o
testcid
testcid-testcid.o
testtones
testtones-testtones.o
